
*{
    margin: 0; padding: 0;
    box-sizing: border-box;}

/* shared style  */

.font-open-scans {
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2 {
font-size: 45px;
}
.color-orange {
    color:orange;
    font-weight: 900;
}
.btn{
    font-size:20px; font-weight: bold;
    color: #Ffffff;
    border:none;
    border-radius: 5px;
    background-color: #FD6E0A;
    cursor: pointer;
    padding: 18px 35px;
}
.btn:hover{
    background-color:greenyellow;
    transition-duration: .5s;
}

/* body{background-color: aquamarine;} */
/* main style  */
header{
    background-color: #fff8f3;
    padding-top: 50px;
    
}
nav{ 
    width:71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .manue {
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
nav li{
    font-size: 20px;
    color: rgba(71, 71, 71, 1);
}
