
*{
    margin: 0; padding: 0;
    box-sizing: border-box;}

/* shared style  */

.font-open-scans {
     font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.logo h2 {
font-size: 45px; font-weight: 600;
color: #474747;margin-bottom: 5px;
}
.logo h1{
    font-size: 85px;
    color: #181818 ;
    font-weight: bold;margin-bottom: 20px;
}
.logo p{
    font-size: 18px;
    line-height: 30px;
    color: #757575;margin-bottom: 30px;
}
.color-orange {
    color:orange;
    font-weight: 900;
}
.btn{
    font-size:20px; font-weight: bold;
    color: #Ffffff;
    border:none;
    border-radius: 5px;
    background-color: #FD6E0A;
    cursor: pointer;
    padding: 18px 20px;
    line-height: 20px; margin-top: 30px;
}
.btn:hover{
    background-color:greenyellow;
    transition-duration: .5s;
}
button{
    font-size: 20px;font-weight: bold;
    border: 1px solid #FD6E0A;
    color: #FD6E0A; text-align: center;
    padding:18px 20px; border-radius: 10px;margin-top: 30px;
    cursor: pointer;
}
.banner-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#fff8f3;
}
.section-heading {
    max-width: 827px ;
    text-align: center;
}
.section-heading h2{
    font-size:35px ;
    margin-bottom:30px ;
}
.section-heading p {
   line-height: 30px;
    color: #757575;
    margin-bottom: 30px;text-align:justify;
}
.about-info .info-card{
    gap: 50px;
}
.about-info .info-card p { font-size: 20px;
    line-height: 30px; color: #757575;

}
.about-info .info-card h4 {
    font-size: 20px;line-height: 30px;
    color: #474747;
}

   
#banner.banner-img {max-width: 585px;
vertical-align:}

/* body{background-color: aquamarine;} */
/* main style  */
header{
    background-color: #fff8f3;
    padding-top: 50px;
   
    
}
nav{ 
    width:71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .manue {
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}
nav li{
    font-size: 20px;
    color: rgba(71, 71, 71, 1);
}

#banner {
    
    width: %;max-width: ;
    margin: 47px 38px 0 230px; 
}

#container{max-width: 585px; 

}
main{
     background: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    background-color:#fff8f3;
}
#about {
    padding-top: 130px;
}
#about .about-container {
    width: 71%; max-width: 1140px;
    margin: 0 auto;text-align: center;
    background-color: #fff8f3;
    padding: 131px 156px;
}

#about .about-container .about-info {
    display: flex; justify-content: space-around;
}